<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="DB"
       providerName="System.Data.SqlClient"
         connectionString="Database=Users;Server=localhost;User ID=clennox;Password=ULwqc8aCVk!;Trusted_Connection=True;Persist Security Info=True;"
    />
  </connectionStrings>
</configuration>